<div class="work m-0 min-vh-100 p-0 mx-auto d-flex flex-column" style="background-color: rgb(55, 56, 56);">
    <div class="card GO mx-auto my-5">
        <h2><b>IT Systems Assistant - Government of Ontario</b></h2>
        <p><b>Jun 2020 - Sept 2020</b></p>
        <p>• Developed an API that searched information from MySQL and Microsoft SQL Server database using Java SpringMVC. I created the API shell, helped build the program that queried the database, did code refactoring, dockerized the application, ran the image in a Docker container, and connected it with MySQL Docker container.<br>
        • Built a form submission web application with its back end based on Java Spring Boot and its front end based on HTML and CSS. Generated a Jar file and a Docker image for the application, and pushed the image to Docker Hub.<br>
        • Built automated browser testing applications using Selenium and Python.</p></div>
    <div class="card GO mx-auto my-5">
        <h2><b>Online Teaching Technology Assistant</b></h2>
        <p><b>Sept 2020 - Feb 2021</b></p>
        <p>• Learned about technical challenges faced by an organization during digital transformation. Helped clients move their materials and resources online, and ensured that they are operating well.<br>
            • Researched compatibility between different operating systems and optical drives, and made purchase suggestions.<br>
            • Demonstrated good time management skills by balancing school and work.</p>
    </div>
    <div class="card GO mx-auto my-5">
        <h2><b>Functional Analyst / Salesforce Developer</b></h2>
        <h3><b>May 2021 - Aug 2021</b></h3>
        <p>• Used Google sheets and Excel formulas, and Regex to clean and analyze data. Migrated data in and out of Salesforce using Data Loader.<br>
            • Created Salesforce objects, Lightning record pages, and validation
            rules. Designed and built Salesforce flows with notification and email functionalities in Salesforce to keep users updated
            when records changed. Created and edited permission sets and helped manage access to objects and
            their fields.<br>
            • Managed users access to the development environment by assigning
            permissions to them and generating password emails. 
            </p>
    </div>
</div>
