<div class="project-class">
    <div class="dot" onclick="moveDot()"></div>
    <div class="project-left">
        <div class="pieChart">
            <h1>How does Rachel accumulate coding experience?</h1>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
<script>
    /*function moveDot(){
        console.log("yea");
        var dotElement=document.getElementsByClassName("dot");
        var loopFrameVar=setInterval(loopFrame);
        function loopFrame(){
            dotElement.style.top=Math.random()*100+"px";
            dotElement.style.left=Math.random()*100+"px";
        }
        
    }*/
    
</script>


