<div class="intro-class">
    
    <div class="middle">
        <h1>Rachel Wu</h1>
        <br>
        <p>Hi! Welcome to my website! <br>My name is 
            Rachel Wu and I'm a second year computer <br>
            engineering student at the University of Toronto.<br><br>
            I have worked on projects related to web development and DevOps<br>
            I have worked in an internship and a part-time job to accumulate<br>
            more experience in the technology industry. I also participate in<br>
            hackathons and collaborate with others on projects.<br><br>
            In my free time, I love brainstorming new ideas that could <br>
            solve existing problems. I write down my ideas in a little <br>
            notebook and work on them when I have time. <br><br>
            
            Try flipping my resume by moving your mouse and feel free to <br> 
            grab a copy of my resume! You can also checkout my projects <br>
            on Github or Devpost. <br> 
            

        </p>
    
    </div>
    <div class="right">
        <div class="lamp">
            <div class="dot"></div>
        </div>
        <div class="resume">
            <div class="resumePage">
                <img src="assets/images/2021-02-19 (2).png" width="380px" height="500px">
            </div>
            <div class="blankPage"><div class="frame"><a href="/assets/Rachel_Wu's_Resume_February_6th_2021.pdf" download=""><p class="download">Download resume</p></a></div></div>
        </div>
    </div>
    
</div>



