<div class="container">
    <ul>
        <li id="intro"><a routerLinkActive="active" routerLink="/intro">Introduction</a></li>
        <li id="project"><a routerLinkActive="active" routerLink="/project">Projects</a></li>
        <li id="work"><a routerLinkActive="active" routerLink="/work">Work Experience</a></li>
        <li id="github"><a href="https://github.com/rachelwuuu">
            <div class="logo-background"><img src="assets/images/GitHub-Mark-32px.png" class="logo"></div>
        </a></li>
    </ul>
    
</div>    
<router-outlet></router-outlet>