<div class="container">
    <table id="container">
    <td><tr valign="top">
        <div class="tabLinks">
        <p id="intro"><a routerLinkActive="active" routerLink="/intro">Introduction</a></p>
        <p id="project"><a routerLinkActive="active" routerLink="/project">Projects</a></p>
        <p id="work"><a routerLinkActive="active" routerLink="/work">Work Experience</a></p>
        </div>
        </tr>
        <tr valign="bottom"><div id="github"><a href="https://github.com/rachelwuuu">
            <div class="logo-background"><img src="assets/images/GitHub-Mark-32px.png" class="logo"></div>
        </a></div>
        </tr>
    </td>
    </table>
</div>    
<router-outlet></router-outlet>