.project-class{
    position:relative;
    height: 100vh;
    color:white;
    display:flex;
    background-color: rgb(55, 56, 56);
    text-align: center;
    font-size: 20px;
    font-family: 'Benne', serif;
    
}
.dot{
    box-shadow: 0px 0px 10px  rgb(216, 187, 133);
    height:30px;
    border-radius:50%;
    width:30px;
    animation:movingDot 6s, scale 5s, colorChange 6s;
    animation-iteration-count: infinite;
    position:relative;
}
@keyframes movingDot{
    0% {left:20%;top:50%;}
    25%{left:$randomNumber;top:20%;}
    50%{left:80%;top:$randomNumber;}
    75%{left:$randomNumber;;top:80%;}
    100%{left:20%;top:50%;}
}

@keyframes scale{
    0%{transform:scale(0.5);}
    25%{transform:scale(0.8);}
    50%{transform:scale(1);}
    75%{transform:scale(0.8);}
    100%{transform:scale(0.5);}
}
@keyframes colorChange{
    0%{background:rgb(228, 198, 142);}
    25%{background:rgb(230, 211, 176);}
    50%{background:white;}
    75%{background:rgb(230, 211, 176);}
    100%{background:rgb(228, 198, 142);}
}
.pieChart{
    position:absolute;
    left:50%;
    right:50%;
    top:50%;
    bottom:50%;
    transform:translate(-50%,-50%);
    width: 70%;
    height:70%;
    align-items: center;
    /*height:100vh;*/
}