<div class="row m-0 min-vh-100 p-0" style="background-color: rgb(55, 56, 56);color:white">
    
    <div class="col-5 mx-auto" style="min-width: 300px;">
        <h1>Rachel Wu</h1>
        <br>
        <p style="font-family: 'Benne', serif;font-size: 1.5vw;">Hi! I'm Rachel Wu. Welcome to my website! <br><br>I'm a computer engineering student with a strong interest in software development. I have experience in web development, and I have built web applications in Spring Boot, AngularJS, and ReactJS. I'm also interested in DevOps and I have experience working with Docker.<br><br>

            Try flipping my resume on the right side. After it flips around, it would reveal a download link. Please feel free to grab a copy of my resume! :D <br><br>

            I'm very eager to learn and I try to build projects as much as I can. My projects are available on my Github (https://github.com/rachelwuuu) and Devpost (https://devpost.com/ruoxuanwu). Please feel free to check them out and tell me if you find them interesting or if you have suggestions :)<br><br>
            
            Finally, I'm eager to explore and help others using my knowledge and I'm open to various opportunities.
        </p>
        
    </div>
    <div class="col-5 mx-auto">
        <div class="resume">
            <div class="resumePage">
                <img src="assets/images/2021-09-12.png" alt="Rachel's Resume" class="responsiveImage">
            </div>
            <div class="blankPage"><div class="downloadCell"><a href="https://rachelwuuu.github.io/personalWebsite/assets/Rachel_Wu's_Resume_Sept_2021.pdf" download=""><p class="download">Download resume</p></a></div></div>
            </div>
    </div>
    
</div>



