<div class="work">
    <div class="GO">
        <h2>IT Systems Assistant - Government of Ontario</h2>
        <h3>Jun 2020 - Sept 2020</h3>
        <p>• Developed an API that searched information from MySQL and Microsoft SQL Server database using Java SpringMVC. I created the API shell, helped build the program that queried the database, did code refactoring, dockerized the application, ran the image in a Docker container, and connected it with MySQL Docker container.<br>
        • Built a form submission web application with its back end based on Java Spring Boot and its front end based on HTML and CSS. Generated a Jar file and a Docker image for the application, and pushed the image to Docker Hub.<br>
        • Built automated browser testing applications using Selenium and Python.</p></div>
    <div class="GO">
        <h2>Online Teaching Technology Assistant</h2>
        <h3>Sept 2020 - Feb 2021</h3>
        <p>• Learned about technical challenges faced by an organization during digital transformation. Helped clients move their materials and resources online, and ensured that they are operating well.<br>
            • Researched compatibility between different operating systems and optical drives, and made purchase suggestions.<br>
            • Demonstrated good time management skills by balancing school and work.</p>
    </div>
</div>
