<div class="card bg-black self-align-center sticky-top d-flex justify-content-center flex-column" style="font-size:3vmin; font-family: 'Caveat', cursive;">
        <p><a routerLinkActive="active" routerLink="/intro">Introduction</a></p>
        <p><a routerLinkActive="active" routerLink="/project">Projects</a></p>
        <p><a routerLinkActive="active" routerLink="/work">Work Experience</a></p>
        <!--<div class="logo-background"><img src="assets/images/GitHub-Mark-32px.png" class="logo"></div>-->
</div>
     